body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    box-shadow: 0px 0px 10px gray;
}